<!DOCTYPE html>
<html lang="en"><head>
<title>Previous Transactions</title>
  </head>
  <body>

{% csrf_token %}
<form name="make_history_form" method="post" action="" onsubmit="return validate_exp()">
{% csrf_token %}
	 <br>
Name:<input type="text" name="name"> </input><br>
Id:<input type="text" name="id"></input><br>
Sem:<input type="text" name="sem"> </input><br>
Email:<input type="text" name="email"> </input><br>

<input type="submit" name="submit" value="Print History" />
	
<br><br>

	 </form> 
	

  </body>
  </html>
