<!DOCTYPE html>
<html lang="en"><head>
<title>Make Payment</title>
  </head>
  <body>

  <form name="redirectbank" method="post" action="http://127.0.0.1:8090/vasubank/connectbank/">

	 <br>
<input type="hidden" name="uid" value={{ uid }}> </input><br>
<input type="hidden" name="fees" value={{ fees }}></input><br>
<input type="hidden" name="college_id" value={{ college_id }}> </input><br>



	
<br><br>

	 </form> 
<script>
window.onload = function(){
  document.forms['redirectbank'].submit()

}
</script>
  </body>
  </html>
